body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
}

#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#title {
    font-size: 24px;
    margin-top: 0;
}

#img-div {
    margin: 20px 0;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}

#img-caption {
    font-style: italic;
    color: #888;
    margin-top: 10px;
}

#tribute-info {
    font-size: 18px;
    line-height: 1.5;
}

#tribute-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#tribute-link:hover {
    background-color: #0056b3;
}
